        <div class="tab-pane" id="tab-devtools">
            <div class="tab-content">
                <!-- ── Test ─────────────────────────────────────────────────── -->
{% include 'settings/test.html' %}

                <!-- ── Terminal ──────────────────────────────────────────── -->
{% include 'settings/terminal.html' %}

                <!-- ── Logs ──────────────────────────────────────────────── -->
{% include 'settings/logs.html' %}

                <!-- ── Hardware ──────────────────────────────────────────── -->
{% include 'settings/hardware.html' %}
            </div>
        </div>
